<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Skills</title>
</head>
<body>
    <h1 class="title box">Contact!</h1>    
    <nav class="nav box">
            <a class="link" href="/">Index!</a>
            <a class="link" href="/about">About!</a>
            <a class="link" href="/skills">Skills!</a>
            <a class="link" href="/contact">Contact!</a>
        </nav>
    <section class="content box">
        <p>  
            You may contact me via <a class="a" href="#">email</a>, <a class="a" href="#">phone</a>, or <a class="a" href="#">twitter</a>
            <br>
            Please visit my github page: <a class="a" href="github.com/fx-wood">github.com/fx-wood</a>
        </p>
    </section>

</body>
</html>